WMS_URL=https://geoservices.bayern.de/od/wms/dop/v1/dop20
WMS_LAYER=by_dop20c
WMS_VERSION=1.1.1
WMS_FORMAT=image/png
WMS_CRS=EPSG:25832
WMS_MAX_PIXELS=6000
SAM3_CHECKPOINT=models/sam3.1_hiera_large.pt
